.app2 {
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 20px;
}

.app__container {
  max-width: 800px;
  margin: 0 auto;
}

.containerupl {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-file-upload {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

#file-upload {
  display: none;
}

p {
  margin: 10px 0;
}

.buttonn {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
}

.buttonn:disabled {
  background-color: #b3b3b3;
  cursor: not-allowed;
}

.image {
  max-width: 400px;
  margin: 15px;
}
.text1{
  height: auto;
  size: 10px;
}

.ipfs-link-box {
  background-color: #e6e6e6;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-container {
  margin-top: 10px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.bt3 {
  background-color: #ff3333;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.bt3:hover {
  background-color: #e60000;
}
