/* Navbar.module.css */
.Main-header {
  background-color: #77dbf7;
  color: #fff;
  padding: 10px 0;
}

.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  flex: 1;
}

.logo a {
  text-decoration: none;
  color: inherit;
}

.logo img {
  width: 230px;
  background: transparent;
}

.navbar {
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.navbar a:hover {
  background-color: #00aaff;
}

.navbar i {
  margin-right: 5px;
}

.ConnectWallet {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.ConnectWallet button {
  background-color: #00aaff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.ConnectWallet button:hover {
  background-color: #0077cc;
}

/* Add these styles to your existing CSS file */

/* Profile section container */
.profile {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  background-color: #fff; /* Background color */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Box shadow for a slight elevation effect */
}

/* Profile information styles */
.profile strong {
  font-weight: bold;
}

/* Optional: Add styles for each profile information item */
.profile div {
  margin-bottom: 5px;
}

/* Navbar.css */
/* Your existing CSS styles for the Navbar */

/* Profile section styles */
.ProfileSection {
  position: absolute;
  top: 0;
  right: 20px; /* Adjust the right spacing as needed */
  background-color: #fff; /* Background color for the profile section */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

/* Profile section item styles */
.ProfileSection strong {
  font-weight: bold;
}

/* Adjust the font size, colors, padding, and other styles to match your design preferences */
         
.buttonn {
  background-image: linear-gradient(to right, #000428 0%, #004e92  51%, #000428  100%) !important;
  margin: 10px !important;
  margin-top: 20px;
  padding: 15px 15px !important;
  text-align: center !important;
  text-transform: uppercase !important;
  transition: 0.5s !important;
  background-size: 200% auto !important;
  color: white !important;            
  box-shadow: 0 0 20px #eee !important;
  border-radius: 10px !important;
  display: flex !important;
}

.buttonn:hover {
  background-position: right center !important; /* change the direction of the change here */
  color: #fff !important;
  text-decoration: none !important;
}

